.clothBlock {
  width: 31.3%;
  margin: 1% 1%;
  cursor: pointer;
}

.clothesPic {
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}

.clothesDesc {
  margin-left: 1%;
}

.clothesPrice {
  margin-left: 1%;
}

.clothesText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
