.userpage {
  width: 100%;
  height: 100vh;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  width: 100%;
  justify-content: space-between;
}

.info {
  font-size: 24px;
}

.inputBlock {
  width: 600px;
  margin: 5px 0;
}

.leftBlockUser {
  margin-left: 20%;
}

.rightBlockUser {
  margin-right: 10%;
  width: 400px;
}

.infoPers {
  font-size: 24px;
  margin: 5px 0;
}

.change {
  color: rgb(148, 45, 45);
}
