@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

body {
  font-family: "Arimo", sans-serif;
  background: #1b1a1a;
  width: 100%;
  color: white;
}

.error-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 30px;
}
